body{
    font-family: Arial,sans-serif;
}
.container{
    text-align: center;
    margin: 0 auto;
    width: 50%;
}
h2{
    color: #b43f3f;

}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
}
button{
    background-color: rgb(252, 28, 12);
    color: white;
    border: none;
    border-radius: 40%;
}